.card {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 2px 5px #000000;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

li {
    background-color: rgba(0, 65, 20, 0.4);
    color: white;
}